/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url('../images/soundwave.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* flex-direction: column; */

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rgba(41.7%, 77.9%, 97.2%, 1);
  border-radius: 5px;
  border: none;
  color: rgba(0.7%, 24.4%, 37%, 1);
  font-size: 1rem;
  padding: 1.5em 3em;
  margin: 1em;
  font-family: inherit;
}

.btn:hover {
  opacity: 0.7;
  border: 1px solid rgba(0.8%, 12.2%, 55.4%, 1);
}

.btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.btn:focus {
  outline: none;
}